.env
.vscode
.DS_Store

# docker-compose
docker-compose.debug.yml

# terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform


# deploy stack
test
deploystack.json
