deploystack.json
.vscode
test

.env
.vscode
.DS_Store
core/config/credential.json

# docker-compose
docker-compose.debug.yml

# terraform
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl

# deploy stack
test
deploystack.json
